.aboutContainer {
  max-height: 100%;
  background-color: #fceeee;
  /* background-color: white; */
}

.outerContainer {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/* Grid Sections */

.about-grid {
  grid-template-columns: repeat(2, 30% 70%);
}

/*  */

.aboutSection {
  width: 85%;
  /* background-color: #1971c2; */
  margin: 0 auto;
  border-radius: 2.5rem;
  margin-top: auto;
}

/* biotextSection */
.bioSection {
  padding: 3rem 3rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  box-shadow: 0px 0px 2px #dddddd;
}
.bioHeader {
  font-style: italic;
  font-size: 4.2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.bioText {
  font-size: 2rem;
  line-height: 1.3;
  color: black;
  transition-duration: 0.5s;
}

/* Photo Section */

.photoSection {
  display: flex;
  justify-content: center;
  padding-top: 30%;
  margin-right: 5rem;
}

.bioPhoto {
  border-radius: 30%;
  height: 30rem;
  width: 30rem;
  box-shadow: 0px 0px 10px 3px rgba(184, 184, 184, 0.6);
}

/* Toggle */

.toggleBtn {
  padding: 2rem;
  display: flex;
  margin: 0 auto;
  border-radius: 25px;
  min-width: 25%;
  margin-top: 4rem;
  transition-duration: 1s;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
}

.toggleBtn:hover {
  transition-duration: 1s;
  background-color: rgb(48, 48, 48);
  color: white;
}

.buttonText {
  margin: 0 auto;
  font-size: 2.2rem;
}

.toggleSet {
  overflow: hidden;
  max-height: 0px;
}

.collapseableDiv {
  max-height: 0px;
  overflow: hidden;
  transition: all 1.5s;
}

.collapseableDiv.show {
  height: auto;
  max-height: 2000px;
  transition: all 1.5s;
}

/* Media Queries */

@media (max-width: 930px) {
  .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .photoSection {
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}
