.homeContainer {
  min-height: 100vh;
  background-color: #a5d8ff;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.85)
    ),
    url("../../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.nameDisplay {
  font-size: 3.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5rem;
  margin-left: 5rem;
  color: white;
  font-weight: bold;
}

/* Text on homepage */

.homeBox {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  /* background-color: rgb(182, 181, 181); */
  /* margin-top: 15%; */
  border-radius: 3rem;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meetPennyBtn {
  margin: 0 auto;
  margin-top: 3rem;
  height: 6rem;
  font-size: 2.4rem;
  color: black;
  cursor: pointer;
  text-align: center;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 700;
  background-color: white;
  padding: 3rem;
}
.meetPennyBtn:hover {
  border: 3px solid white;
  color: white;
  background-color: black;
}

.homeText {
  font-size: 3.2rem;
  color: white;
  text-align: center;
  font-weight: 600;
}
.subHomeText {
  font-size: 2.2rem;
  margin-top: 1rem;
  font-weight: 500;
}
