* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant Infant", serif;
  font-size: 62.5%;
}

.grid {
  display: grid;
}
.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
